<div class="container">
  <div class="header">
    <h1 class="title_form">Edit Car</h1>
  </div>
  <form #value="ngForm">
    <div class="form-row">
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input
            [(ngModel)]="marca"
            matInput
            placeholder="Marca"
            name="marca"
          />
        </mat-form-field>
      </div>
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input
            [(ngModel)]="model"
            matInput
            placeholder="Model"
            name="model"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input [(ngModel)]="km" matInput placeholder="Km" name="km" />
        </mat-form-field>
      </div>
      <div class="form-group col-6">
        <mat-form-field class="exemple-container test">
          <input
            type="number"
            [(ngModel)]="pret"
            matInput
            placeholder="Pret"
            name="pret"
          />
        </mat-form-field>
      </div>
    </div>
    <div id="mainselection">
      <div class="form-row">
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <mat-select
              [(ngModel)]="categorie"
              placeholder="Categorie"
              name="categorie"
            >
              <mat-option value="business">Business</mat-option>
              <mat-option value="standart">Standart</mat-option>
              <mat-option value="econom">Econom</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group col-6">
          <mat-form-field class="exemple-container test">
            <mat-select
              [(ngModel)]="isBorrowed"
              placeholder="Status"
              name="is_borrowed"
              disabled
            >
              <mat-option value="false">Available</mat-option>
              <mat-option value="true">Borrowed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-group description">
      <mat-form-field class="test">
        <input
          [(ngModel)]="descriere"
          matInput
          id="inputDescription"
          placeholder="Descriere"
          name="descriere"
        />
      </mat-form-field>
    </div>

    <p>
      <input class="inputFile" type="file" name="pic" accept="pdf/*" />
    </p>
    <br />
    <p *ngIf="isSucceful === true" class="alert alert-success" role="alert">
      Masina modificata cu succes
    </p>

    <div class="footer">
      <div class="buttons">
        <button type="cancel" class="btn cancel" (click)="redirect()">
          <div class="buttonsCancel">Renunta</div>
        </button>
        <button type="submit" class="btn submit" (click)="submitEdit()">
          <div class="buttonsSubmit">Salveaza</div>
        </button>
      </div>
    </div>
  </form>
</div>
